.wrapper {
  position: relative;
  --box-padding-horizontal: 1.6rem;
  --box-padding-vertical: 1.6rem;
  --row-gap-list: 1.6rem;

  .drop-list-container {
    .drop-list {
      list-style: none;
      padding: var(--box-padding-vertical) var(--box-padding-horizontal);
      display: flex;
      flex-direction: column;
      row-gap: var(--row-gap-list);

      li {
        a {
          color: white;
          font-size: 1rem;
        }

        a:hover {
          opacity: 0.7;
        }
      }

      .line-space {
        border-bottom: 1px solid var(--m-color-dark-gray);
        border-radius: 0.6rem;
      }
    }
  }
}
