@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600&display=swap');

:root {
  --default-layout-height-header: 48px;
  --default-layout-height-footer: 252px;
  --m-primary-red: #e50f1e;
  --default-layout-background-container: #141414;
  --default-layout-background-footer: #191919;
  --default-horizontal-spacing: 16px;
  --default-vertical-spacing: 16px;
  // color
  --m-white: #ffffff;
  --m-background-page: rgb(20, 20, 20);
  --m-background-page-modal: rgb(24, 24, 24);
  --m-border: rgba(255, 255, 255, 0.12);
  --m-background-page-opacity: rgba(20, 20, 20, 0.25);
  --m-color-gray: rgb(58, 58, 58);
  // Button side
  --m-icon-primary-size: 1rem; /* 20px */
  --m-icon-large-size: 1.875rem; /* 30px */
  --m-logo-width-size: 5rem; /* 30px */
  --m-border-radius: 0.25rem;

  // Transition
  --m-button-transition-duration: 0.15s;
  --m-button-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: NetflixSans-Regular;
  text-rendering: optimizeSpeed;
  color: rgb(255, 255, 255);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.shadow {
  box-shadow: 0 2rem 4rem #0a0a0c;
}

a {
  text-decoration: none;
}

a:hover {
  transition: all 0.5s ease-in-out;
}

.element-hidden {
  display: none;
  visibility: hidden;
}

.element-visibility {
  display: block;
  visibility: visible;
}

@font-face {
  font-family: NetflixSans-Light;
  src: url(./assets/fonts/netflix-sans-font/NetflixSans-Light.otf);
}

@font-face {
  font-family: NetflixSans-Regular;
  src: url(./assets/fonts/netflix-sans-font/NetflixSans-Regular.otf);
}

@font-face {
  font-family: NetflixSans-Medium;
  src: url(./assets/fonts/netflix-sans-font/NetflixSans-Medium.otf);
}

@font-face {
  font-family: NetflixSans-Bold;
  src: url(./assets/fonts/netflix-sans-font/NetflixSans-Bold.otf);
}

/** Animations */

.bounceInLeft {
  animation-name: 'bounceInLeft';
  animation-duration: 0.5s;
}

.bounceOutLeft {
  animation-name: 'bounceOutLeft';
  animation-duration: 0.5s;
}
