@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600&display=swap');

:root {
  --default-layout-height-header: 4.5rem; /* 45px */
  --default-layout-height-footer: 15.75rem;
  --default-layout-background-container: #141414;
  --default-layout-background-footer: #191919;
  --layout-horizontal-padding: 5rem;
  --layout-vertical-padding: 5rem;
  --element-padding: 2rem;
  /* LOGO */
  --m-logo-width: 7.5rem; /* 56px */
  --m-logo-height: 50%;

  /* SCROLLBAR */
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.15);
  --scrollbar-thumb-bg-hover: rgb(58, 58, 58);
  --scrollbar-track-bg: rgb(0, 0, 0);
  --scrollbar-width: 0.8rem;
  --scrollbar-border-radius: 0.6rem;

  /* COLOR STYLE */
  --m-primary-red: #e50f1e;
  --m-white: #ffffff;
  --m-background-page: rgb(20, 20, 20);
  --m-background-page-modal: rgb(24, 24, 24);
  --m-color-light-gray: rgb(148, 148, 148);
  --m-color-dark-gray: rgb(24, 24, 24);

  /* ICON SIZE */
  --m-icon-small-size: 1.2rem; /* 16px */
  --m-icon-primary-size: 2rem; /* 16px */
  --m-icon-medium-size: 2.8rem; /* 32px */
  --m-icon-large-size: 3.6rem; /* 64px */

  /* BUTTON STYLE */
  --m-button-radius: 0.25rem;

  /* MODAL STYLE */
  --m-modal-radius: 0.6rem;

  // Transition
  --m-button-transition-duration: 0.15s;
  --m-button-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &::-webkit-scrollbar {
    width: 1px;
  }
  &::-webkit-scrollbar-track {
    background-color: darkgrey;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

html {
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: NetflixSans-Regular;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: white;
  overflow-y: overlay;
  // overflow-x: hidden;
}

/* Scrollbar */
/* Hide Scrollbars But Keep Functionality */

a {
  text-decoration: none;
}

@font-face {
  font-family: NetflixSans-Light;
  src: url(./assets/fonts/netflix-sans-font/NetflixSans-Light.otf);
}

@font-face {
  font-family: NetflixSans-Regular;
  src: url(./assets/fonts/netflix-sans-font/NetflixSans-Regular.otf);
}

@font-face {
  font-family: NetflixSans-Medium;
  src: url(./assets/fonts/netflix-sans-font/NetflixSans-Medium.otf);
}

@font-face {
  font-family: NetflixSans-Bold;
  src: url(./assets/fonts/netflix-sans-font/NetflixSans-Bold.otf);
}

/** Animations */

@keyframes inWidth {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes outWidth {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes inHeight {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes outHeight {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}

/* Shadow */

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
// }

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
// }

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
// }

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
// }

// /* Extra large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 1200px) {
// }
