@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600&display=swap');

:root {
  --default-layout-height-header: 70px;
  --default-layout-height-footer: 252px;
  --primary-red: #e50f1e;
  --default-layout-background-container: #141414;
  --default-layout-background-footer: #191919;
  --default-horizontal-spacing: 16px;
  --default-vertical-spacing: 16px;
  // color
  --m-white: #ffffff;
  --m-background-page: rgb(20, 20, 20);
  --m-background-page-modal: rgb(24, 24, 24);
  --m-border: rgba(255, 255, 255, 0.12);

  // Button side
  --m-icon-primary-size: 1.25rem; /* 24px */
  --m-icon-large-size: 2rem; /* 32px */
  --m-avatar-mini-size: 2rem; /* 32px */

  // Transition
  --m-button-transition-duration: 0.15s;
  --m-button-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // font-family: 'Roboto', sans-serif;
  font-family: 'Public Sans', sans-serif;
  text-rendering: optimizeSpeed;
}

html,
body {
  height: 100%;
}

.wrapper {
}

a {
  text-decoration: none;
}

a:hover {
  transition: all 0.5s ease-in-out;
}
.element-hidden {
  visibility: hidden;
}

.element-visibility {
  visibility: visible;
}

// Title font style

.title-400 {
  font-weight: 400;
  color: var(--m-white);
}

.title-400:hover {
}

.title-600 {
  font-weight: 600;
  color: var(--m-white);
}

.title-600:hover {
  color: var(--primary-red);
  transition: all 0.2s ease-in-out;
}

@font-face {
  font-family: NetflixSans-Medium;
  src: url(./assets/fonts/netflix-sans-font/NetflixSans-Medium.otf);
}

@font-face {
  font-family: NetflixSans-Regular;
  src: url(./assets/fonts/netflix-sans-font/NetflixSans-Regular.otf);
}

@font-face {
  font-family: NetflixSans-Bold;
  src: url(./assets/fonts/netflix-sans-font/NetflixSans-Bold.otf);
}

@font-face {
  font-family: NetflixSans-Medium;
  src: url(./assets/fonts/netflix-sans-font/NetflixSans-Medium.otf);
}
