@import 'normalize.css';

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--m-background-page);

  .container {
    height: 100%;

    .page-container {
      min-height: 900px;
      display: flex;
      flex-direction: column;
    }
  }
}

.element-hidden {
  visibility: hidden;
}
