.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--m-background-page);

  .page-container {
    min-height: 1900px;
    display: flex;
    flex-direction: column;
  }
}
