@import 'src/styles/_mixins.scss';

.wrapper {
  button {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    border-radius: 0.25em;
    padding: 0.5em 1.5em;
    font-size: 1.125em /* 14px */;
    line-height: 1.75em /* 20px */;
    font-weight: 600;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
      transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    color: black;

    .fa-button {
      color: black;
      width: 1.75em; /* 28px */
      height: 1.75em; /* 28px */
    }
  }
  @include buttonStyle(white);
}

.small {
  font-size: 1.2rem;
}
