@import 'src/styles/_mixins.scss';

.wrapper {
  button {
    cursor: pointer;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    border-radius: 0.25em;
    padding: 0.4em 1em;
    // line-height: calc(var(--m-icon-medium-size) / 2); /* 20px */
    font-weight: 600;
    color: black;
    background-color: white;

    .fa__icon {
      color: black;
      width: var(--m-icon-medium-size); /* Default size is Medium */
      height: var(--m-icon-medium-size); /* Default size is Medium */
    }
  }
}

@mixin buttonStyleSize($size: var(--m-icon-small-size)) {
  button {
    .fa__icon {
      width: $size; /* Default size is Medium */
      height: $size; /* Default size is Medium */
    }

    /* Responsive */
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
      font-size: calc(1.4rem);
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
      font-size: calc(1.6rem);
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
      font-size: calc(1.8rem);
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
      font-size: calc(2rem);
    }
  }
}

.small {
  @include buttonStyleSize(var(--m-icon-small-size));
}

.primary {
  @include buttonStyleSize(var(--m-icon-primary-size));
}

.medium {
  @include buttonStyleSize(var(--m-icon-medium-size));
}

.large {
  @include buttonStyleSize(var(--m-icon-large-size));
}
