.wrapper {
  width: 100%;
  height: auto !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  // background-color: rgba(20, 20, 20, 0.25) !important;
  // background-color: var(--m-background-page);
  transition: 0.2s ease-in-out;
  --element-padding-horizontal: 2rem;

  .container {
    width: 100%;
    min-height: var(--default-layout-height-header);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--layout-horizontal-padding);

    .left-side {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: var(--element-padding-horizontal);
      font-size: var(--font-size-vw);

      .sidebar-icon {
        display: none;
      }

      .logo-container {
        width: var(--m-logo-width);
        height: var(--m-logo-height);
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .menu-container {
        display: flex;
        flex-direction: row;
        column-gap: var(--element-padding);
        align-items: center;
        animation: 'fadeIn' 0.2s;
      }
    }

    .right-side {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: var(--element-padding);
      // justify-content: flex-end;

      .searchbar {
      }
    }
  }
}

.bg-linear {
  background-image: linear-gradient(rgb(0, 0, 0, 0.85), transparent);
}

.bg-page {
  background-color: var(--m-background-page);
}

.bg-blur {
  background-color: rgba(20, 20, 20, 0.75) !important;
  -webkit-backdrop-filter: blur(0.65em);
  transition: 0.2s ease-in-out;
}

@media only screen and (max-width: 992px) {
  .wrapper {
    .container {
      .left-side {
        .menu-container {
          display: none;
          animation: 'fadeOut' 0.2s;
        }

        .sidebar-icon {
          display: block;
          animation: 'fadeIn' 0.2s;
        }
      }
    }
  }
}
