@import 'normalize.css';

.wrapper {
  width: 100%;
  height: var(--default-layout-height-header);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  align-items: center;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  // justify-content: space-between;
  padding: 0 2rem;
  z-index: 11;
  // background-color: rgba(20, 20, 20, 0.25) !important;
  transition: 0.2s ease-in-out;
  background-color: var(--m-background-page);

  .left-side {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;

    .sidebar-icon {
      position: relative;
      display: none;
      animation: 'fadeOut' 0.2s;

      .fa-button {
      }

      .active {
        &::before {
          content: '';
          border: 1px solid var(--m-primary-red);
          position: absolute;
          animation: 'fadeIn' 0.2s;
        }
      }
    }

    .logo-container {
      width: var(--m-logo-width-size);
      height: auto;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .menu-container {
      display: flex;
      flex-direction: row;
      column-gap: 1rem;
      align-items: center;
      animation: 'fadeIn' 0.2s;
    }
  }

  .right-side {
    height: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 1.25rem;
    align-items: center;
    justify-content: flex-end;
  }
}

.bg-blur {
  background-color: rgba(20, 20, 20, 0.75) !important;
  -webkit-backdrop-filter: blur(0.65em);
  transition: 0.2s ease-in-out;
}

@media only screen and (max-width: 992px) {
  .wrapper {
    .left-side {
      .menu-container {
        display: none;
        animation: 'fadeOut' 0.2s;
      }

      .sidebar-icon {
        display: block;
        animation: 'fadeIn' 0.2s;
      }
    }
  }
}
