@import 'src/styles/_variables.scss';
@import 'src/styles/_anim.scss';
@import 'src/styles/_mixins.scss';

$duration: 500ms;

@mixin textHover($text: '') {
  &::after {
    content: $text;
    color: black;
    font-weight: 500;
    position: absolute;
    bottom: calc(var(--m-icon-small-size) * 2.3);
    padding: 0.4rem 0.8rem;
    white-space: nowrap;
    background-color: white;
    border-radius: var(--m-button-radius);
  }

  &::before {
    content: '';
    position: absolute;
    bottom: calc(var(--m-icon-small-size) * 2.2);
    width: 0.6rem;
    height: 0.6rem;
    background-color: white;
    transform: rotate(45deg);
  }
}

.wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $grayLight;
  padding: 0.4rem;
  border-radius: 50px;
  background-color: $grayLight025;
  @include transition();

  .fa__icon {
    width: var(--m-icon-small-size);
    height: var(--m-icon-small-size);
    color: white;
  }

  &:hover {
    @include textHover('Thêm vào danh sách của tôi');
    @include transition();
  }
}
