@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';
@import 'src/styles/_anim.scss';

.wrapper {
  $paddingIcon: 1rem;
  position: relative;
  display: flex;
  justify-content: center;

  button {
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa__icon {
      cursor: pointer;
      width: calc(var(--m-icon-medium-size));
      height: calc(var(--m-icon-medium-size));
      object-fit: contain;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      left: -50%;
      transform: translateX(53%);
    }

    .img__src {
      cursor: pointer;
      width: var(--m-icon-medium-size);
      height: var(--m-icon-medium-size);
      object-fit: contain;
    }
  }
}

@mixin buttonIconSize($size: var(--m-icon-primary-size)) {
  button {
    width: fit-content;
    height: fit-content;

    .fa__icon {
      width: calc($size);
      height: calc($size);
    }

    .img__src {
      width: $size;
      height: $size;
    }
  }

  .text-hover {
    position: absolute;
    // bottom: calc($size + (($size / 2) * 2) + 2px + $size);
    bottom: 130%;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
    font-size: calc($size / 1.5);
    font-family: NetflixSans-Medium;
    padding: 0.4rem 0.8rem;
    background-color: white;
    border-radius: var(--m-button-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: none;
    z-index: 1;
    // @include transition();

    &::before {
      content: '';
      width: calc($size / 2);
      height: calc($size / 2);
      position: absolute;
      bottom: calc($size / -4);
      background-color: white;
      rotate: 45deg;
      z-index: -1;
    }
  }

  .padding-icon {
    padding: calc($size / 2);

    .text-hover {
      bottom: 140%;
    }
  }

  .bordered {
    border: calc($size / 8) solid $grayLight;

    &:hover {
      border-color: white;
    }
  }

  &:hover {
    .text-hover {
      display: flex;
      opacity: 1;
      // @include transition();
    }
  }
}

.small {
  @include buttonIconSize(var(--m-icon-small-size));
}

.primary {
  @media only screen and (max-width: 600px) {
    @include buttonIconSize(var(--m-icon-small-size));
  }
  @media only screen and (min-width: 600px) {
    @include buttonIconSize(var(--m-icon-primary-size));
  }
}

.medium {
  @media only screen and (max-width: 600px) {
    @include buttonIconSize(var(--m-icon-small-size));
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    @include buttonIconSize(var(--m-icon-primary-size));
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    @include buttonIconSize(var(--m-icon-medium-size));
  }
}

.large {
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 600px) {
    @include buttonIconSize(var(--m-icon-small-size));
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    @include buttonIconSize(var(--m-icon-primary-size));
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    @include buttonIconSize(var(--m-icon-medium-size));
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    @include buttonIconSize(var(--m-icon-large-size));
  }
}
