@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';
@import 'src/styles/_anim.scss';

$paddingIcon: 1rem;

@mixin buttonIconSize($size: var(--m-icon-primary-size)) {
  button {
    .fa__icon {
      width: calc($size - ($paddingIcon * 1));
      height: calc($size - ($paddingIcon * 1));
    }

    .img__src {
      width: $size;
      height: $size;
    }
  }

  .radius {
    border-radius: var(--m-button-radius);
    .fa__icon {
      border-radius: var(--m-button-radius);
    }
    .img__src {
      border-radius: var(--m-button-radius);
    }
  }

  .text-hover {
    position: absolute;
    width: fit-content;
    height: fit-content;
    bottom: calc(($size + ($paddingIcon * 2) + 2px) + ($size / 3));
    font-size: calc($size / 2);
    color: black;
    font-weight: 500;
    padding: 0.4rem 0.8rem;
    background-color: white;
    border-radius: var(--m-button-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 1;
    // @include transition();

    &::before {
      content: '';
      width: calc($size / 2);
      height: calc($size / 2);
      position: absolute;
      bottom: calc($size / -6);
      background-color: white;
      rotate: 45deg;
      z-index: -1;
    }
  }

  &:hover {
    .text-hover {
      opacity: 1;
      // @include transition();
    }
  }
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;

  button {
    cursor: pointer;
    padding: $paddingIcon;
    border: none;
    background: none;
    // @include transition();

    .fa__icon {
      cursor: pointer;
      width: calc(var(--m-icon-small-size));
      height: calc(var(--m-icon-small-size));
      object-fit: contain;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      left: -50%;
      transform: translateX(53%);
    }

    .img__src {
      cursor: pointer;
      width: var(--m-icon-primary-size);
      height: var(--m-icon-primary-size);
      object-fit: contain;
    }
  }
}

.small {
  @include buttonIconSize(var(--m-icon-small-size));
}

.primary {
  @include buttonIconSize(var(--m-icon-primary-size));
}

.medium {
  @include buttonIconSize(var(--m-icon-medium-size));
}

.large {
  @include buttonIconSize(var(--m-icon-large-size));
}
