@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';

.wrapper {
  @include underlineButton(0, 0, -0.4rem, 0);

  .primary {
    width: var(--m-icon-primary-size);
    height: var(--m-icon-primary-size);
    position: relative;
    background-image: none;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--m-button-radius);

    .fa-button {
      cursor: pointer;
      object-fit: contain;
      width: var(--m-icon-primary-size);
      height: var(--m-icon-primary-size);
      color: white;
    }

    .img {
      cursor: pointer;
      width: var(--m-icon-primary-size);
      height: var(--m-icon-primary-size);
      object-fit: contain;
      border-radius: var(--m-button-radius);
    }
  }

  .small {
    width: var(--m-icon-small-size);
    height: var(--m-icon-small-size);

    .fa-button {
      cursor: pointer;
      width: var(--m-icon-small-size);
      height: var(--m-icon-small-size);
    }

    .img {
      cursor: pointer;
      width: var(--m-icon-small-size);
      height: var(--m-icon-small-size);
      object-fit: contain;
      border-radius: var(--m-button-radius);
    }
  }

  .medium {
    width: var(--m-icon-medium-size);
    height: var(--m-icon-medium-size);

    .fa-button {
      cursor: pointer;
      width: var(--m-icon-medium-size);
      height: var(--m-icon-medium-size);
    }

    .img {
      cursor: pointer;
      width: var(--m-icon-medium-size);
      height: var(--m-icon-medium-size);
      object-fit: contain;
      border-radius: var(--m-button-radius);
    }
  }

  .large {
    width: var(--m-icon-large-size);
    height: var(--m-icon-large-size);

    .fa-button {
      cursor: pointer;
      width: var(--m-icon-large-size);
      height: var(--m-icon-large-size);
    }

    .img {
      cursor: pointer;
      width: var(--m-icon-large-size);
      height: var(--m-icon-large-size);
      object-fit: contain;
      border-radius: var(--m-button-radius);
    }
  }

  .bordered {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    border: 1px solid $grayLight;
    border-radius: 50px;
  }

  .background {
    background-color: $grayLight025;
  }
}
