@import 'src/styles/_mixins.scss';

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;

  .bg-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-color: var(--m-background-page-opacity);
  }

  .container {
    width: 80%; /* Set your own width: percents, ems, whatever! */
    height: 95%; /* Set your own height: percents, ems, whatever! */
    margin: auto; /* Center the item vertically & horizontally */
    position: absolute; /* Break it out of the regular flow */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--m-background-page-modal);
    border-radius: 0.6rem;
    @include boxShadow();
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .wrapper {
    .container {
      width: 100%;
      height: 100%;
    }
  }
}
