@import 'normalize.css';

.wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;

  .bg-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-color: rgba(20, 20, 20, 0.251);
  }

  .container {
    width: 80%; /* Set your own width: percents, ems, whatever! */
    height: 95%; /* Set your own height: percents, ems, whatever! */
    overflow: auto; /* Recommended in case content is larger than the container */
    margin: auto; /* Center the item vertically & horizontally */
    position: absolute; /* Break it out of the regular flow */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; /* Set the bounds in which to center it, relative to its parent/container */
    background-color: var(--m-background-page-modal);
    border-radius: 0.375rem;
    animation-name: 'fadeIn';
    animation-duration: 0.2s;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    .container {
      width: 100%;
      height: 100%;

      animation-name: 'fadeIn';
      animation-duration: 0.5s;
    }
  }
}
