{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src"
        }
      }
    ],
    [
      "macros",
      {
        "fontawesome-svg-core": {
          "license": "free"
        }
      }
    ]
  ]
}
