@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';
@import 'src/styles/_anim.scss';

.wrapper {
  width: 100%;

  .row {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    h1 {
      position: relative;
      font-size: 2rem;
      margin-left: var(--layout-horizontal-padding);
    }

    .row__container {
      position: relative;
      height: fit-content;
      @include scrollbar-hidden();

      .row__inner {
        width: 100%;
        height: fit-content;

        .row__list {
          display: flex;
          flex-direction: row;
          column-gap: 1rem;

          .row__item {
            &:hover {
              & ~ .row__item {
                transform: translateX(100%);
              }
            }
          }
        }
      }

      .button__control {
        .button__prev {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: var(--layout-horizontal-padding);
          background-image: linear-gradient(to right, rgb(0, 0, 0), transparent);
        }

        .button__next {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: var(--layout-horizontal-padding);
          background-image: linear-gradient(to left, rgb(0, 0, 0), transparent);
        }
      }
    }
  }
}
