@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';
@import 'src/styles/_anim.scss';

.wrapper {
  width: 100%;

  .row {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    h1 {
      position: relative;
      font-size: 2rem;
    }

    .row__container {
      // top: -20px;
      height: fit-content;
      position: relative;
      // padding-left: var(--layout-horizontal-padding);
      @include scrollbar-hidden();
      // background-color: $grayLight;
      // @include scrollbar-hidden();

      .row__inner {
        width: 100%;
        height: fit-content;
        overflow: hidden;

        .row__list {
          display: flex;
          flex-direction: row;
          column-gap: 1rem;

          .row__item {
            &:hover {
              & ~ .row__item {
                transform: translateX(100%);
              }
            }
          }
        }
      }
    }
  }
}
