.wrapper {
  position: relative;

  .row {
    display: flex;
    flex-direction: column;
    position: relative;

    .title__container {
    }

    .row__container {
      overflow-y: hidden;
      overflow-x: scroll;
      padding-left: var(--layout-horizontal-padding);
      display: flex;
      flex-direction: row;
    }
  }
}
