@import 'src/styles/_variables.scss';
@import 'src/styles/_anim.scss';

.wrapper {
  .row {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    h1 {
      position: relative;
      bottom: -8rem;
      font-size: 2rem;
      padding-left: var(--layout-horizontal-padding);
    }

    .row__container {
      position: relative;
      // top: -20px;
      overflow: hidden;
      overflow-x: scroll;
      padding-left: var(--layout-horizontal-padding);
      display: flex;
      flex-direction: row;
      background-color: $grayLight;

      .item__wrapper {
        margin: calc((var(--row-height) * 0.5) / 1) 0;
        margin-right: 1rem;
        @include transition();

        &:hover ~ .item__wrapper {
          transform: translateX(50%);
        }
      }

      &:hover .item__wrapper {
        transform: translateX(-50%);
        @include transition();
      }
    }
  }
}
