@import 'normalize.css';

.wrapper {
  width: 100%;
  position: relative;
}

.container {
  .carousel {
    display: flex;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-transition: opacity 2s;
    }
  }

  .overview {
    width: 90%;
    overflow: hidden;
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: start;
    align-items: center;
    padding: 2rem 4rem;
    z-index: 10;

    .title {
      width: 100%;

      h1 {
        font-size: 4rem;
        line-height: 2rem;
        font-weight: 700;
        color: var(--m-white);
        text-align: start;
      }
    }

    .sub-title {
      width: 100%;

      p {
        max-width: 80%;
        font-size: 1.5rem;
        line-height: 2rem;
        text-shadow: 0px 1px 2px rgb(30 29 39 / 19%), 1px 2px 4px rgb(54 64 147 / 18%);
        color: var(--m-white);
      }
    }

    .action-buttons {
      width: 100%;
      display: flex;
      flex-direction: row;
      column-gap: 0.75rem;
    }
  }
}

// .controller {
//   z-index: 10;
//   position: absolute;
//   top: 50%;
//   bottom: 50%;
//   left: var(--default-horizontal-spacing);
//   right: var(--default-horizontal-spacing);
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }

// .button-wrapper {
//   max-width: 80px;
//   max-height: 80px;
//   cursor: pointer;
// }

// .fa-prev,
// .fa-next {
//   color: rgba(255, 255, 255, 0.5);
//   width: 34px;
//   height: 34px;
//   opacity: 0.6;
//   transition: 0.2s ease-in-out;
//   scale: 0.9;
// }

// .button-wrapper {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .fa-prev:hover,
// .fa-next:hover {
//   opacity: 1;
//   scale: 1;
// }
