@import 'normalize.css';

.wrapper {
  width: 100%;
  height: 100vh;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: 'fadeIn';
    animation-duration: 0.5s;

    .carousel {
      position: absolute;
      left: 0;
      // top: var(--default-layout-height-header);
      top: 0;
      right: 0;
      width: 100vw;
      height: 90vh;
      z-index: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(
          180deg,
          rgba(20, 20, 20, 0) 0,
          rgba(20, 20, 20, 0.15) 15%,
          rgba(20, 20, 20, 0.35) 29%,
          rgba(20, 20, 20, 0.58) 44%,
          rgb(20, 20, 20) 98%,
          rgb(20, 20, 20)
        );
      }
    }

    .content {
      height: 100%;
      width: 100%;
      position: relative;
      top: -15%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 2rem;
      padding: 0 4rem;
      z-index: 10;

      .overview {
        width: 100%;

        .title {
          width: 100%;
          position: relative;
          bottom: -10%;

          h1 {
            max-width: 55%;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
            -webkit-box-orient: vertical;
            font-family: NetflixSans-Medium;
            font-size: 3.2em; /* 32px */
            text-align: start;
          }
        }

        .sub-title {
          width: 100%;

          p {
            max-width: 35%;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 2;
            -webkit-box-orient: vertical;
            font-family: NetflixSans-Regular;
            font-size: 1em; /* 10px */
            text-shadow: 0px 1px 2px rgb(30 29 39 / 19%), 1px 2px 4px rgb(54 64 147 / 18%);
          }
        }
      }

      .action-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 0.75rem;
        align-items: start;
      }
    }

    // .slider-buttons {
    //   width: 100%;
    //   position: absolute;
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: space-between;
    //   align-items: center;
    //   padding: 0 1vw;
    //   z-index: 10;

    //   button {
    //     cursor: pointer;
    //     background: none;
    //     border: none;
    //     background-image: none;
    //     opacity: 0.5;
    //     width: 2em;
    //     height: 2em;

    //     &:hover {
    //       opacity: 1;
    //       animation-name: 'pulse';
    //       animation-duration: 0.5s;
    //     }
    //   }

    //   .fa-prev,
    //   .fa-next {
    //     color: var(--m-white);
    //     width: 1.5em;
    //     height: 1.5em;
    //   }

    //   .fa-prev:hover,
    //   .fa-next:hover {
    //     opacity: 1;
    //   }
    // }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .wrapper {
    font-size: 1rem; /* 10px */
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .wrapper {
    font-size: 1.2rem; /* 12px */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .wrapper {
    font-size: 1.4rem; /* 14px */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .wrapper {
    font-size: 1.6rem; /* 16px */
  }
}
