@import 'normalize.css';

.wrapper {
  width: 100vw;
  height: 100vh;
  // z-index: -10;

  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-duration: 0.8s;
    animation-name: opacity 0.8s;
    animation-play-state: running;
    animation-timing-function: ease;

    .carousel {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      width: 100vw;
      height: 95vh;
      animation: slider 20s linear infinite;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-image: linear-gradient(
          180deg,
          hsla(0, 0%, 8%, 0) 0,
          hsla(0, 0%, 8%, 0.15) 15%,
          hsla(0, 0%, 8%, 0.35) 29%,
          hsla(0, 0%, 8%, 0.58) 44%,
          #141414 98%,
          #141414
        );
      }
    }

    .overview-content {
      position: absolute;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      margin: 0 4rem;
      z-index: 10;

      .title {
        width: 100%;
        margin-bottom: -50px;

        h1 {
          max-width: 70%;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
          -webkit-box-orient: vertical;
          font-family: NetflixSans-Medium;
          font-size: 4.5rem;
          font-weight: 700;
          color: var(--m-white);
        }
      }

      .sub-title {
        width: 100%;

        p {
          max-width: 50%;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 2;
          -webkit-box-orient: vertical;
          font-family: NetflixSans-Regular;
          font-size: 1.5rem;
          text-shadow: 0px 1px 2px rgb(30 29 39 / 19%), 1px 2px 4px rgb(54 64 147 / 18%);
          color: var(--m-white);
        }
      }

      .action-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 0.75rem;

        .button-play,
        .button-info {
          cursor: pointer;
          background: none;
          border: none;
          background-image: none;
          display: flex;
          align-items: center;
          column-gap: 0.5rem;
          border-radius: 0.25rem;
          padding: 0.625rem 1.5rem;
          font-size: 1.25rem;
          line-height: 1.25rem;
          font-weight: 600;
          // transition-duration: var(--m-button-transition-duration);
          // transition-timing-function: var(--m-button-transition-timing-function);
        }

        .button-play {
          background-color: white;

          .fa-button {
            width: var(--m-icon-large-size);
            height: var(--m-icon-large-size);
          }
        }

        .button-info {
          background-color: #808080b3;
          color: white;

          .fa-button {
            width: var(--m-icon-primary-size);
            height: var(--m-icon-primary-size);
            color: white;
          }
        }
        .button-play:hover,
        .button-info:hover {
          opacity: 0.75;
        }
      }
    }

    .slider-buttons {
      width: 100%;
      position: absolute;
      z-index: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 1rem;

      button {
        cursor: pointer;
        background: none;
        border: none;
        background-image: none;
        opacity: 0.5;
        width: 2rem;
        height: 2rem;
      }

      button:hover {
        opacity: 1;
      }

      .fa-prev,
      .fa-next {
        color: var(--m-white);
        width: 1.5rem;
        height: 1.5rem;
      }

      .fa-prev:hover,
      .fa-next:hover {
        opacity: 1;
      }
    }
  }

  // .container {
  //   width: 100%;
  //   height: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;

  // }
}
