.ease500ms {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.default {
  --width: 25rem;
  --height: 3.2rem;
  --padding-horizontal: 1.6rem;
  --padding-vertical: 0;
  --transition-duration: 0.5s;
  width: var(--width);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--m-color-dark-gray);
  border-radius: 45rem;

  .search-input-container {
    height: var(--height);
    display: inline-block;

    input {
      height: var(--height);
      color: white;
      outline: none;
      border: none;
      outline: none;
      background: none;
      border-radius: var(--border-radius);

      &:hover {
        cursor: pointer;
      }

      &:focus {
        cursor: text;
        width: var(--width);
      }

      &::placeholder {
        width: 100%;
        color: white;
      }
    }
  }

  .search-icon-container {
    position: absolute;
    // right: calc(var(--padding-horizontal) / 2);
    // right: 0;
    z-index: 999;
  }
}

.active {
  width: var(--width);
  padding: 0 var(--padding-horizontal);
  animation-name: 'animEaseWidthIn';
  transition-duration: var(--transition-duration);

  .search-input-container {
    width: 100%;

    input {
      width: 100%;
      padding-right: calc((var(--padding-horizontal) * 2) + var(--m-icon-primary-size));
    }
  }

  .search-icon-container {
    right: calc(var(--padding-horizontal) / 2);
    @extend .ease500ms;
  }
}

.inactive {
  width: 0;
  animation-name: 'animEaseWidthOut';
  transition-duration: var(--transition-duration);

  .search-input-container {
    input {
      width: 0;
    }
  }

  .search-icon-container {
    right: 0;
    @extend .ease500ms;
  }
}
