@import 'src/styles/_variables.scss';
@import 'src/styles/_anim.scss';

.wrapper {
  --width: 25rem;
  --height: 3.2rem;
  --padding-horizontal: 1.6rem;
  --padding-vertical: 0;
  --transition-duration: 0.5s;
  width: var(--width);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;

  .bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  .search__input {
    width: 0%;
    height: 100%;
    background-color: $grayDark;
    border-radius: 50px;
    overflow: hidden;
    z-index: 1;
    animation: inWidth 300ms linear;
    @include transition();

    input {
      width: 100%;
      height: var(--height);
      color: white;
      outline: none;
      border: none;
      outline: none;
      background: none;
      padding: 0 1rem;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        cursor: text;
        width: var(--width);
      }

      &::placeholder {
        width: 100%;
        color: white;
      }
    }
  }

  .search__button {
    position: absolute;
    right: 0rem;
    z-index: 1;
    @include transition();
  }
}

.active {
  .search__input {
    width: 100%;
    opacity: 1;
    animation: outWidth 300ms linear;

    input {
      width: 100%;
    }
  }
  .search__button {
    right: 1rem;
    @include transition();
  }
}
