@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';

.wrapper {
  position: relative;

  .link-button {
    background: none;
    border: none;

    .link {
      font-size: 1.4rem;
      color: $grayLight;
      text-decoration: none;
    }

    .link-active {
      color: white;
    }
  }

  @include underlineButton(0, 0, 2px, 0);
}
