@import 'normalize.css';

.wrapper {
  position: relative;
  --border: 1px solid var(--m-primary-red);
  --underline-left: 0;
  --underline-bottom: 0;
  --underline-radius: 0.6rem;
  --underline-bg-color: var(--m-primary-red);

  .link-button {
    background: none;
    border: none;

    .link {
      font-size: 1.2rem;
      color: var(--m-color-light-gray);
    }

    .link-active {
      color: white;
    }
  }

  .underline-active,
  .underline-hover {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 2.4rem;
    &:before,
    &:after {
      content: '';
      position: absolute;
      transition: transform 0.5s ease;
    }
  }

  .underline-hover {
    &:before {
      left: var(--underline-left);
      bottom: var(--underline-bottom);
      width: 100%;
      height: 0.2rem;
      background: var(--underline-bg-color);
      border-radius: var(--underline-radius);
      transform: scaleX(0);
    }
    &:hover:before {
      transform: scaleX(1);
    }
  }

  .underline-active {
    &:after {
      left: var(--underline-left);
      bottom: var(--underline-bottom);
      width: 100%;
      height: 0.2rem;
      background: var(--underline-bg-color);
      border-radius: var(--underline-radius);
    }
  }
}
