@import 'normalize.css';

.menu-item {
  font-family: NetflixSans-Regular;
  font-size: 0.875rem;
  line-height: 1rem;
  color: white;

  &:hover {
    color: var(--m-primary-red);
    transition: all 0.1s ease-in-out;
  }
}

.active-item {
  font-family: NetflixSans-Regular;
  color: var(--m-primary-red);
}
