@import 'normalize.css';

.wrapper {
  --underline-border: 1px solid var(--m-primary-red);
  --underline-left: 0;
  --underline-bottom: -0.375rem;
  --underline-right: 0;
  margin: 1rem;

  .link-button {
    position: relative;
    background: none;
    border: none;

    .link {
      font-family: NetflixSans-Light;
      font-size: 0.75rem;
      font-weight: 500;
      // line-height: 1.5rem;
      // color: rgb(120, 120, 120);
      color: white;
    }

    &::after {
      content: '';
      border: var(--underline-border);
      position: absolute;
      left: var(--underline-left);
      bottom: var(--underline-bottom);
      right: var(--underline-right);
    }
  }

  .underline {
    &::before {
      content: '';
      border: var(--underline-border);
      position: absolute;
      left: var(--underline-left);
      bottom: var(--underline-bottom);
      right: var(--underline-right);
      animation: 'fadeIn' 0.2s;
    }
  }

  .underline-active {
    &::before {
      content: '';
      border: var(--underline-border);
      position: absolute;
      left: var(--underline-left);
      bottom: var(--underline-bottom);
      right: var(--underline-right);
    }
  }

  .underline-hover {
    &::after {
      transform: scale(0, 1);
      transition: transform 0.3s ease;
    }

    &:hover {
      &::after {
        content: '';
        border: var(--underline-border);
        position: absolute;
        left: var(--underline-left);
        bottom: var(--underline-bottom);
        right: var(--underline-right);
        transform: scale(1, 1);
      }
    }
  }
}
