@import 'src/styles/_mixins.scss';

.wrapper {
  position: relative;
  --border: 1px solid var(--m-primary-red);
  --underline-left: 0;
  --underline-bottom: 0;
  --underline-radius: 0.6rem;
  --underline-bg-color: var(--m-primary-red);

  .link-button {
    background: none;
    border: none;

    .link {
      font-size: 1.2rem;
      color: var(--m-color-light-gray);
    }

    .link-active {
      color: white;
    }
  }

  @include underlineButton(0, 0, 2px, 0);
}
