@import 'src/styles/_variables.scss';
@import 'src/styles/_anim.scss';
@import 'src/styles/_mixins.scss';

$duration: 500ms;
$paddingIcon: 0.4rem;

@mixin textHover($text: '', $size: var(--m-icon-small-size)) {
  &::after {
    content: $text;
    font-size: calc($size * 1.5);
    font-weight: 500;
    color: black;
    position: absolute;
    bottom: calc(100% + $paddingIcon + ($paddingIcon * 3));
    padding: 0.4rem 0.8rem;
    white-space: nowrap;
    background-color: white;
    border-radius: var(--m-button-radius);
  }

  &::before {
    content: '';
    position: absolute;
    bottom: calc(100% + $paddingIcon + ($paddingIcon * 2.5));
    width: calc($size / 2);
    height: calc($size / 2);
    background-color: white;
    transform: rotate(45deg);
  }
}

.wrapper {
  cursor: pointer;
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding: 0.4rem;
  border-radius: 50px;
  background-color: $grayLight025;

  .fa__icon {
    width: calc(var(--m-icon-small-size));
    height: calc(var(--m-icon-small-size));
    color: white;
  }

  .popbar__wrapper {
    position: absolute;

    .popbar__over {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      column-gap: $paddingIcon;
      border: 1px solid $grayLight;
      padding: 0.4rem;
      border-radius: 50px;
      border: none;
      width: 0;
      height: 0;
      background: none;
      background-color: $grayDark;
      opacity: 0;
      z-index: 0;
      @include boxShadow($blurRadius: 6px, $spread: 6px);
      @include transition($duration);

      button {
        width: fit-content;
        height: fit-content;
        cursor: pointer;
        border: none;
        padding: 0.4rem;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        z-index: 10;
        @include transition($duration);

        .fa__icon {
          position: absolute;
          width: calc(var(--m-icon-small-size));
          height: calc(var(--m-icon-small-size));
          color: white;
        }

        &:hover {
          background-color: $grayLight025;
          border-radius: 50px;
          @include transition($duration);
        }
      }

      .btn__dislike {
        position: relative;
        @include translate(100%, 0%);
        @include transition($duration);

        &:hover {
          @include textHover('Dislike');
          @include transition($duration);
        }
      }

      .btn__like {
        position: relative;
        @include transition($duration);

        &:hover {
          @include textHover('Like');
          @include transition($duration);
        }
      }

      .btn__favorite {
        position: relative;
        @include translate(-100%, 0%);
        @include transition($duration);

        &:hover {
          @include textHover('Favorite');
          @include transition($duration);
        }
      }
    }
  }

  &:hover {
    .popbar__wrapper {
      .popbar__over {
        width: calc(var(--m-icon-small-size) * 3 + ($paddingIcon * 10));
        height: calc(var(--m-icon-small-size) + ($paddingIcon * 4));
        opacity: 1;
        @include transition($duration);

        button {
          opacity: 1;
          @include transition($duration);

          .fa__icon {
            position: relative;
          }
        }

        .btn__dislike {
          @include translate(0%, 0%);
          @include transition($duration);
        }

        .btn__like {
          @include transition($duration);
        }

        .btn__favorite {
          @include translate(0%, 0%);
          @include transition($duration);
        }
      }
    }
  }
}

@mixin iconSize($size: var(--m-icon-small-size)) {
  .fa__icon {
    width: calc($size);
    height: calc($size);
  }

  .popbar__wrapper {
    position: absolute;
    .popbar__over {
      button {
        .fa__icon {
          width: calc($size);
          height: calc($size);
        }
      }
    }
  }

  &:hover {
    .popbar__wrapper {
      .popbar__over {
        width: calc($size * 3 + ($paddingIcon * 10));
        height: calc($size + ($paddingIcon * 4));
      }
    }
  }
}

.small {
  @include iconSize(var(--m-icon-small-size));
}

.primary {
  @include iconSize(var(--m-icon-primary-size));
}

.medium {
  @include iconSize(var(--m-icon-medium-size));
}

.large {
  @include iconSize(var(--m-icon-large-size));
}
