@import 'src/styles/_variables.scss';
@import 'src/styles/_anim.scss';
@import 'src/styles/_mixins.scss';

$duration: 500ms;
$paddingIcon: 0.4rem;

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;

  .hover__container {
    position: absolute;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: calc($paddingIcon * 2);
    padding: calc($paddingIcon * 2);
    background-color: $grayDark;
    border-radius: 50px;
    opacity: 0;
    @include transition();

    .button__icon {
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    .button__dislike {
      transform: translateX(100%);
      @include transition();
    }

    .button__like {
      @include transition();
    }

    .button__favorite {
      transform: translateX(-100%);
      @include transition();
    }
  }
}

@mixin ButtonLikeComponent($size: var(--m-icon-primary-size)) {
  .hover__container {
    @include boxShadow($blurRadius: 1rem, $spread: 0.4rem);
    &:hover {
      max-width: fit-content;
      max-height: fit-content;
      @include transition();

      opacity: 1;

      .button__icon {
        width: 100%;
        height: 100%;
        opacity: 1;
      }

      .button__dislike {
        transform: translateX(0%);
        @include transition();
      }

      .button__favorite {
        transform: translateX(0%);
        @include transition();
      }
    }
  }
}

.small {
  @include ButtonLikeComponent(var(--m-icon-small-size));
}

.primary {
  @include ButtonLikeComponent(var(--m-icon-primary-size));
}

.medium {
  @include ButtonLikeComponent(var(--m-icon-medium-size));
}

.large {
  @include ButtonLikeComponent(var(--m-icon-large-size));
}
