@import 'src/styles/_variables.scss';

.wrapper {
  button {
    cursor: pointer;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    border-radius: 0.25em;
    padding: 0.4em 1em;
    // line-height: calc(var(--m-icon-medium-size) / 2); /* 20px */
    font-weight: 600;
    color: white;
    background-color: $grayLight;

    .fa__icon {
      color: white;
      width: var(--m-icon-medium-size); /* Default size is Medium */
      height: var(--m-icon-medium-size); /* Default size is Medium */
    }
  }
}

@mixin buttonStyleSize($size: var(--m-icon-small-size)) {
  button {
    font-size: calc($size / 1.5);

    .fa__icon {
      width: calc($size); /* Default size is Medium */
      height: calc($size); /* Default size is Medium */
    }
  }
}

.small {
  @include buttonStyleSize(var(--m-icon-small-size));
}

.primary {
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 600px) {
    @include buttonStyleSize(var(--m-icon-primary-size));
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    @include buttonStyleSize(var(--m-icon-primary-size));
  }
}

.medium {
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 600px) {
    @include buttonStyleSize(var(--m-icon-primary-size));
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    @include buttonStyleSize(var(--m-icon-medium-size));
  }
}

.large {
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 600px) {
    @include buttonStyleSize(var(--m-icon-primary-size));
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    @include buttonStyleSize(var(--m-icon-medium-size));
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    @include buttonStyleSize(var(--m-icon-large-size));
  }
}
