@import 'src/styles/_mixins.scss';

.wrapper {
  button {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    border-radius: 0.25em;
    padding: 0.5em 1.5em;
    font-size: 1.125em;
    line-height: 1.75em;
    font-weight: 600;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
      transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    color: white;

    .fa-button {
      color: white;
      width: 1.75em;
      height: 1.75em;
    }
  }
  @include buttonStyle(rgba(128, 128, 128, 1));
}
