@import 'normalize.css';

// Search bar
.wrapper {
  position: relative;
  --width: 250px;
  --height: 250px;
  --radius: var(--m-border-radius);
  --box-padding-horizontal: 0.5rem;
  --box-padding-vertical: 0.5rem;
  --box-top: 2.5rem;
  --box-left: 0;
  --box-bottom: 0;
  --box-right: 0;
  --row-gap-list: 1rem;
  --search-bar-height: 2rem;

  .dropdown-header-wrapper {
    width: 100%;
    position: fixed;
    top: calc(var(--default-layout-height-header) - 1px);
    left: 0;
    right: 0;
    background-color: var(--m-background-page);
  }

  .dropdown-header-inactive {
    height: 0;
    animation-name: 'animLinearHeightOut';
    animation-duration: 0.2s;

    .dropdown-container {
      display: none;
    }
  }

  .dropdown-header-active {
    height: var(--default-layout-height-header);
    animation-name: 'animLinearHeightIn';
    animation-duration: 0.2s;
    box-shadow: 0 2rem 4rem rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;

    .dropdown-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 1rem;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 600px) {
}
