@import 'normalize.css';

// Search bar
.wrapper {
  position: relative;
  // height: auto;
  --box-padding-horizontal: 0.5rem;
  --box-padding-vertical: 0.5rem;
  --column-gap-list: 1rem;

  .expand-header {
  }

  .expand-header-inactive {
    height: 0;
    animation-name: 'animLinearHeightOut';
    animation-duration: 0.2s;

    .content {
      display: none;
      visibility: hidden;
    }
  }

  .expand-header-active {
    height: var(--default-layout-height-header);
    animation-name: 'animLinearHeightIn';
    animation-duration: 0.2s;
    // box-shadow: 0 2rem 4rem rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      flex-grow: 1;
      // width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // column-gap: 2rem;
      // justify-content: center;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

@media only screen and (min-width: 992px) {
  .wrapper {
    display: none;
    visibility: hidden;
  }
}
