@import 'normalize.css';

.wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: var(--default-layout-height-header);
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 999;
}

.bg-blur {
  background-color: rgba(20, 20, 20, 0.5) !important;
  -webkit-backdrop-filter: blur(0.65em);
  transition: 0.2s ease-in-out;
}

.left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2rem;

  .logo-container {
    max-width: 100px;
    max-height: 100%;
    cursor: pointer;

    img {
      width: 90%;
      height: auto;
      object-fit: contain;
    }
  }

  .menu-container {
    .menu {
      column-gap: 1rem;
      align-items: center;
      display: flex;
      list-style-type: none;

      .active-item li {
        font-weight: 700;
        color: var(--primary-red);
      }

      .menu-item li {
        font-weight: 500;
        font-size: 1rem;
        color: var(--m-white);
      }

      .menu-item li:hover {
        color: var(--primary-red);
        transition: all 0.1s ease-in-out;
      }
    }
  }
}
