/* LAYOUT */

.transition {
  --duration: 500ms;
  --property: all;
  --propertyAnim: ease;
  -webkit-transition: var(--property) var(--duration) var(--propertyAnim);
  -moz-transition: var(--property) var(--duration) var(--propertyAnim);
  -ms-transition: var(--property) var(--duration) var(--propertyAnim);
  -o-transition: var(--property) var(--duration) var(--propertyAnim);
  transition: var(--property) var(--duration) var(--propertyAnim);
}

.transformScaler {
  --scaler: 1.5;
  --translateX: 0;
  --translateY: 0;
  -webkit-transform: translate(var(--translateX), var(--translateY)) scale(var(--scaler));
  -moz-transform: translate(var(--translateX), var(--translateY)) scale(var(--scaler));
  -ms-transform: translate(var(--translateX), var(--translateY)) scale(var(--scaler));
  -o-transform: translate(var(--translateX), var(--translateY)) scale(var(--scaler));
  transform: translate(var(--translateX), var(--translateY)) scale(var(--scaler));
}

.transformTop {
  -webkit-transform: translate(0px, -100px);
  -moz-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  -o-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}

.wrapper {
  --scaler: 1.5;
  padding: calc(var(--row-height) / 1) 0;
  // overflow: overlay;
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: calc(var(--width) * var(--scaler));
  // height: calc(var(--height) * var(--scaler));
  @extend .transition;
  /* CARD Animation */

  .card {
    cursor: pointer;
    width: calc(var(--row-width) * 1);
    height: calc(var(--row-height) * 2);
    // position: relative;
    // @extend .ease300ms;
    // transition-delay: 100ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--m-button-radius);

    // background-color: rgb(150, 140, 140);
    @extend .transition;

    .card__thumb {
      width: calc(var(--row-width) * 1);
      height: calc(var(--row-height) * 1);
      // display: none;

      img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: var(--m-button-radius);
      }
    }

    .card__full {
      width: 0;
      height: 0;
      background-color: burlywood;
      opacity: 0;
      // display: none;
      @extend .transition;
    }

    &:hover {
      height: calc(var(--row-height) * 2);

      box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.2);
      z-index: 1;
      @extend .transformScaler;
      // background-color: aqua;

      .card__thumb {
      }

      .card__full {
        width: var(--row-width);
        height: var(--row-height);
        opacity: 1;
        display: flex;
        @extend .transition;
      }
    }
  }
}
