@import 'src/styles/_anim.scss';
@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';

.wrapper {
  --scaler: 1.5;
  --row-width: 21.8rem;
  --row-height: 12.8rem;
  width: fit-content;
  height: fit-content;
  // width: calc(var(--row-width) * 1);
  // height: calc(var(--row-height) * 1);
  // margin-right: 1rem;
  /* CARD Animation */

  .card {
    // cursor: pointer;
    position: relative;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    // width: calc(var(--row-width) * 1);
    // height: calc(var(--row-height) * 1);
    background-color: $grayDark;
    border-radius: var(--m-button-radius);
    // @include transition();

    .card__header {
      position: relative;
      top: 0;
      left: 0;
      right: 0;

      .video__container {
        width: calc(var(--row-width) * 1);
        height: calc(var(--row-height) * 1);
        z-index: 0;

        .video__player {
          width: 100%;
          height: 100%;
        }
      }

      .card__thumb {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        width: calc(var(--row-width) * 1);
        height: calc(var(--row-height) * 1);
        max-width: calc(var(--row-width) * 1);
        max-height: calc(var(--row-height) * 1);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          // border-radius: var(--m-button-radius);
        }
      }

      .mute__button {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 1rem;
        z-index: 0;
        // animation: 'fadeOut' 300ms linear;
      }
    }

    .card__footer {
      position: relative;
      left: 0;
      bottom: 0;
      right: 0;
      width: calc(var(--row-width) * 1);
      height: calc(var(--row-height) * 1);
      display: none;
      flex-direction: column;
      opacity: 0;
      // animation: 'fadeOut' 300ms linear;

      .overview__container {
        width: 100%;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        .action__buttons {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .button__left {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 0.4rem;
          }

          .button__right {
          }
        }

        .break__0 {
          ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            column-gap: 0.5rem;
            align-items: center;
            flex-wrap: wrap;

            .vote__average {
              color: rgb(74 222 128);
            }

            .sexual__genres {
              border: 1px solid $grayLight;
              padding: 0 0.4rem;
              border-radius: var(--m-button-radius);
            }

            .video__quality {
              text-transform: uppercase;
              font-size: 0.8rem;
              border: 1px solid $grayLight;
              padding: 0 0.4rem;
              border-radius: var(--m-button-radius);
            }
          }
        }

        .break__1 {
          ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            column-gap: 0.5rem;
            align-items: center;
            flex-wrap: wrap;
          }
        }
      }
    }

    &:hover {
      overflow: visible;
      position: absolute;
      z-index: 1;
      @include boxShadow();
      @include scaler($scale: 1.5, $y: -25%);
      @include transition(300ms, ease, 500ms);

      .card__header {
        .video__container {
          .mute__button {
            animation: 'fadeIn' 300ms linear;
          }
        }

        .card__thumb {
          img {
            border-radius: var(--m-button-radius);
          }
          .mute__button {
            opacity: 1;
            animation: 'fadeIn' 300ms linear;
          }
        }
      }

      .card__footer {
        opacity: 1;
        border-radius: var(--m-button-radius) var(--m-button-radius) 0 0;
        // @include transition(300ms, ease, 0.5s);
        // animation-delay: 500ms;
        display: flex;
        animation: inOpac 1s ease;

        .overview__container {
          border-radius: 0 0 var(--m-button-radius) var(--m-button-radius);
        }
      }
    }
  }
}
