@import 'src/styles/_anim.scss';
@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';

.wrapper {
  --scaler: 1.5;
  --row-width: 21.8rem;
  --row-height: 12.8rem;
  width: calc(var(--row-width) * 1);
  height: calc(var(--row-height) * 1);
  // margin-right: 1rem;
  /* CARD Animation */

  .card {
    cursor: pointer;
    width: calc(var(--row-width) * 1);
    height: calc(var(--row-height) * 1);
    border-radius: var(--m-button-radius);
    background-color: $grayLight;
    @include transition();

    .card__thumb {
      width: calc(var(--row-width) * 1);
      height: calc(var(--row-height) * 1);

      img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: var(--m-button-radius);
      }
    }

    .card__full {
      width: 100%;
      height: 100%;
      background-color: rgb(73, 77, 77);
      opacity: 0;
      animation: 'fadeOut' 200ms linear;
    }

    &:hover {
      position: absolute;
      z-index: 1;
      @include scaler($scale: 1.5, $y: -75%);
      @include transition(300ms, ease, 200ms);
      @include boxShadow();

      .card__full {
        opacity: 1;
        animation: 'fadeIn' 200ms linear;
      }
    }
  }
}
