/* LAYOUT */

.transition {
  --duration: 500ms;
  --property: all;
  --propertyAnim: ease;
  --delay: 0ms;
  -webkit-transition: var(--property) var(--duration) var(--propertyAnim) var(--delay);
  -moz-transition: var(--property) var(--duration) var(--propertyAnim) var(--delay);
  -ms-transition: var(--property) var(--duration) var(--propertyAnim) var(--delay);
  -o-transition: var(--property) var(--duration) var(--propertyAnim) var(--delay);
  transition: var(--property) var(--duration) var(--propertyAnim) var(--delay);
}

.transformScaler {
  --scaler: 1.5;
  --translateX: 25%;
  --translateY: 0;
  -webkit-transform: translate(var(--translateX), var(--translateY)) scale(var(--scaler));
  -moz-transform: translate(var(--translateX), var(--translateY)) scale(var(--scaler));
  -ms-transform: translate(var(--translateX), var(--translateY)) scale(var(--scaler));
  -o-transform: translate(var(--translateX), var(--translateY)) scale(var(--scaler));
  transform: translate(var(--translateX), var(--translateY)) scale(var(--scaler));
}

.transformTop {
  -webkit-transform: translate(0px, -100px);
  -moz-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  -o-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}

.wrapper {
  --scaler: 1.5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend .transition;
  /* CARD Animation */

  .card {
    cursor: pointer;
    width: calc(var(--row-width) * 1);
    height: calc(var(--row-height) * 1);
    border-radius: var(--m-button-radius);
    @extend .transition;

    .card__thumb {
      width: calc(var(--row-width) * 1);
      height: calc(var(--row-height) * 1);

      img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: var(--m-button-radius);
      }
    }

    // .card__full {
    //   width: calc(var(--row-width) * 1);
    //   height: calc(var(--row-height) * 1);
    //   background-color: burlywood;
    //   @extend .transition;
    //   display: none;
    // }

    &:hover {
      @extend .transformScaler;
    }
  }
}
