.wrapper {
  .wrapper__container {
    width: 100%;
    height: 100vh;

    img {
      width: 100%;
      height: 90%;
      object-fit: cover;
    }

    &::after {
      content: '';
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(20, 20, 20, 1) 90%);
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .wrapper {
    font-size: 1rem; /* 10px */
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .wrapper {
    font-size: 1.2rem; /* 12px */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .wrapper {
    font-size: 1.4rem; /* 14px */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .wrapper {
    font-size: 1.6rem; /* 16px */
  }
}
