:root {
  /* Colors */
  --primary-red: #e21221;
  --grey-light-025: rgb(144, 144, 144, 0.25);
  --grey-light-05: rgb(144, 144, 144, 0.5);
  --grey-light-075: rgb(144, 144, 144, 0.75);
  --grey-light: rgb(144, 144, 144);
  --grey-025: rgb(48, 48, 48, 0.25);
  --grey-05: rgb(48, 48, 48, 0.5);
  --grey-075: rgb(48, 48, 48, 0.75);
  --grey: rgb(48, 48, 48);
  --grey-dark-025: rgb(29, 29, 29, 0.25);
  --grey-dark-05: rgb(29, 29, 29, 0.5);
  --grey-dark-075: rgb(29, 29, 29, 0.75);
  --grey-dark: rgb(29, 29, 29);
  --background-page: rgb(20, 20, 20);

  /* Padding */
  --padding-container: 2.5rem; /* 40px */
  --padding-element: 1.25rem; /* 20px */

  /* Size icon */
  --icon-small: 0.875rem; /* 14px */
  --icon-primary: 1.25rem; /* 20px */
  --icon-medium: 1.75rem; /* 28px */

  --icon-large: 2.25rem; /* 36px */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .underlineIn {
    @apply before:content-[""] before:w-full before:h-[2px] before:bg-[var(--primary-red)] before:rounded-md before:animate-scaleXIn before:absolute before:bottom-0 before:left-0;
  }

  .rowButtonController {
    @apply hover:bg-blue-900/75 text-white w-10 h-full text-center opacity-75 hover:opacity-100 disabled:opacity-25 disabled:cursor-not-allowed z-10 p-0 m-0 transition-all ease-in-out duration-300;
  }
}

@keyframes scaleXIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes scaleXOut {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

@keyframes inWidth {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes outWidth {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes inHeight {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes outHeight {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}
