@import 'normalize.css';

.wrapper {
  button {
    display: flex;
    padding: 0.625rem 2rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    border-radius: 0.25rem;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    background-image: none;
    border: none;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--m-white);

    .fa-button {
      width: 1.75rem;
      height: 1.75rem;
      color: black;
    }
  }

  button:hover {
    opacity: 0.75;
  }
}
