@import 'normalize.css';

.wrapper {
  button {
    display: flex;
    padding: 0.625rem 2rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    border-radius: 0.25rem;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    background-image: none;
    border: none;
    transition-duration: var(--m-button-transition-duration);
    transition-timing-function: var(--m-button-transition-timing-function);
    background-color: hsla(0, 0%, 50%, 0.7);
    color: white;

    .fa-button {
      width: var(--m-icon-large-size);
      height: var(--m-icon-large-size);
      color: white;
    }
  }

  button:hover {
    opacity: 0.75;
  }
}
