/** Animations */
@mixin transition($duration: 300ms, $anim: ease, $delay: 0ms) {
  -webkit-transition: all $duration $anim $delay;
  -moz-transition: all $duration $anim $delay;
  -ms-transition: all $duration $anim $delay;
  -o-transition: all $duration $anim $delay;
  transition: all $duration $anim $delay;
}

@mixin scaler($scale, $x: 0%, $y: 0%) {
  -webkit-transform: translate($x, $y) scale($scale);
  -moz-transform: translate($x, $y) scale($scale);
  -ms-transform: translate($x, $y) scale($scale);
  -o-transform: translate($x, $y) scale($scale);
  transform: translate($x, $y) scale($scale);
}

@mixin translate($x: 0%, $y: 0%) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin springScale() {
  animation: 2s bounceScaleIn forwards;
}
