@mixin scrollbar-hidden() {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin buttonStyle($bgColor: white) {
  button {
    cursor: pointer;
    border: none;
    background: none;
    background-color: $bgColor;
  }

  &:hover {
    opacity: 0.75;
    animation-name: 'pulse';
    animation-duration: 0.5s;
  }

  @media only screen and (max-width: 600px) {
    font-size: 1rem; /* 10px */
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    font-size: 1.2rem; /* 12px */
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    font-size: 1.4rem; /* 14px */
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    font-size: 1.6rem; /* 16px */
  }
}

@import 'src/App.scss';

@mixin buttonSize() {
  $smallSize: 1.2rem; /* 16px */
  $primarySize: 1.6rem; /* 16px */
  $mediumSize: 3.2rem; /* 32px */
  $largeSize: 6.4rem; /* 64px */

  .small {
    width: $smallSize;
    height: $smallSize;

    button {
      width: $smallSize;
      height: $smallSize;
      .fa-button {
        cursor: pointer;
        width: $smallSize;
        height: $smallSize;
      }
    }

    button {
      width: $smallSize;
      height: $smallSize;

      .img {
        cursor: pointer;
        width: $smallSize;
        height: $smallSize;
        object-fit: contain;
        border-radius: var(--m-button-radius);
      }
    }

    .fa-button {
      cursor: pointer;
      width: $smallSize;
      height: $smallSize;
    }

    .img {
      cursor: pointer;
      width: $smallSize;
      height: $smallSize;
      object-fit: contain;
      border-radius: var(--m-button-radius);
    }
  }

  .primary {
    width: $primarySize;
    height: $primarySize;

    button {
      .fa-button {
        cursor: pointer;
        width: $primarySize;
        height: $primarySize;
      }
    }

    button {
      .img {
        cursor: pointer;
        width: $primarySize;
        height: $primarySize;
        object-fit: contain;
        border-radius: var(--m-button-radius);
      }
    }

    .fa-button {
      cursor: pointer;
      width: $primarySize;
      height: $primarySize;
    }

    .img {
      cursor: pointer;
      width: $primarySize;
      height: $primarySize;
      object-fit: contain;
      border-radius: var(--m-button-radius);
    }
  }

  .medium {
    width: $mediumSize;
    height: $mediumSize;

    button {
      cursor: pointer;

      .fa-button {
        width: $mediumSize;
        height: $mediumSize;
      }
    }

    button {
      cursor: pointer;

      .img {
        cursor: pointer;
        width: $mediumSize;
        height: $mediumSize;
        object-fit: contain;
        border-radius: var(--m-button-radius);
      }
    }

    .fa-button {
      width: $mediumSize;
      height: $mediumSize;
    }

    .img {
      cursor: pointer;
      width: $mediumSize;
      height: $mediumSize;
      object-fit: contain;
      border-radius: var(--m-button-radius);
    }
  }

  .large {
    width: $largeSize;
    height: $largeSize;

    button {
      cursor: pointer;
      .fa-button {
        width: $largeSize;
        height: $largeSize;
      }
    }

    button {
      .img {
        cursor: pointer;
        width: $largeSize;
        height: $largeSize;
        object-fit: contain;
        border-radius: var(--m-button-radius);
      }
    }

    .fa-button {
      cursor: pointer;
      width: $largeSize;
      height: $largeSize;
    }

    .img {
      cursor: pointer;
      width: $largeSize;
      height: $largeSize;
      object-fit: contain;
      border-radius: var(--m-button-radius);
    }
  }
}

@mixin underlineButton($top: 0, $left: 0, $bottom: 0, $right: 0) {
  .underline-active,
  .underline-hover {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 2.4rem;
    &:before,
    &:after {
      content: '';
      position: absolute;
      transition: transform 0.5s ease;
    }
  }

  .underline-hover {
    &:before {
      left: $left;
      bottom: $bottom;
      right: $right;
      width: 100%;
      height: 0.2rem;
      background: var(--m-primary-red);
      border-radius: 0.6rem;
      transform: scaleX(0);
    }
    &:hover:before {
      transform: scaleX(1);
    }
  }

  .underline-active {
    &:after {
      position: absolute;
      left: $left;
      bottom: $bottom;
      right: $right;
      width: 100%;
      height: 0.2rem;
      background: var(--m-primary-red);
      border-radius: 0.6rem;
    }
  }
}

@mixin darkGray($opacity: 1) {
  background-color: rgb(48, 48, 48, $opacity);
}

/* Shadow */
@mixin boxShadow($horizontal: 0px, $vertical: 0px, $blurRadius: 1.6rem, $spread: 0.8rem, $color: rgba(0, 0, 0, 0.5)) {
  box-shadow: $horizontal $vertical $blurRadius $spread $color;
  -webkit-box-shadow: $horizontal $vertical $blurRadius $spread $color;
  -moz-box-shadow: $horizontal $vertical $blurRadius $spread $color;
}
