$grayLight025: rgb(148, 148, 148, 0.25);
$grayLight05: rgb(148, 148, 148, 0.5);
$grayLight075: rgb(148, 148, 148, 0.75);
$grayLight: rgb(148, 148, 148, 1);
$grayDark: rgb(48, 48, 48);
$grayDark05: rgb(48, 48, 48, 0.5);
