.wrapper {
  width: 25rem;
  max-height: 30rem;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: var(--default-layout-height-header);
  right: 0;
  border-radius: var(--m-modal-radius);

  .container {
    background-color: var(--m-background-page-modal);
    border-radius: var(--m-modal-radius);
  }

  .behind-layout {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
  }
}

.overflow-hidden {
  overflow: hidden;
}
