@import 'src/styles/_mixins.scss';
@import 'src/styles/_variables.scss';

.wrapper {
  --padding-content: 2rem;
  --padding-element: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  .button__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--padding-content);
  }

  .video-container {
    width: 100%;
    height: 75%;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;

    .action__buttons {
      width: 100%;
      height: fit-content;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: var(--padding-content);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .left__side,
      .right__side {
        display: flex;
        flex-direction: row;
        column-gap: var(--padding-element);
        align-items: center;
      }
    }
  }

  .overview-container {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: var(--padding-element);
    // row-gap: 2rem;
    padding: var(--padding-content);
    @include scrollbar-hidden();

    .break-0 {
      .list__0 {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        column-gap: var(--padding-element);
        font-size: 1.4rem /* 14px */;
        color: white;

        .vote-average {
          color: rgb(74 222 128);
          font-weight: 600;
        }

        .video-quality {
          border: 1px solid $grayLight;
          padding: 0.2rem 0.6rem;
          border-radius: var(--m-button-radius);
          font-size: 1.2rem;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .break-1 {
      width: 100%;
      display: flex;
      flex-direction: row;
      row-gap: var(--padding-element);
      column-gap: var(--padding-element);

      p {
        width: 75%;
        font-size: 1.4rem;
        text-align: start;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      }

      .break-1-1 {
        flex-grow: 1;
        height: 100%;
        display: flex;
        padding: 0;
        margin: 0;
        flex-direction: column;
        row-gap: var(--padding-element);
        font-size: 0.75rem;

        .list__1 {
          list-style-type: none;
          font-size: 1.2rem;
          color: $grayLight;
          display: flex;
          flex-direction: column;
          row-gap: 1rem;
          padding: 0;
          margin: 0;

          li {
            span {
              color: white;
            }
          }

          .language {
            span {
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .wrapper {
    .overview-container {
      .break-1 {
        flex-direction: column;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
}
