@import 'normalize.css';

.content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
  }

  .video-container {
    // flex-grow: 7;
    width: 100%;
    height: 70%;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;

    .action-buttons {
      width: 100%;
      position: absolute;
      // top: 0;
      left: 0;
      bottom: 0;
      // right: 0;
      padding: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      // align-content: space-between;

      .left-side-buttons {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
      }

      .right-side-buttons {
      }
    }
  }

  .overview-container {
    // overflow: auto;
    // flex-grow: 3;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    padding: 1.25rem;

    .break-0 {
      .break-0-content {
        display: flex;
        flex-direction: row;
        column-gap: 0.5rem;
        list-style-type: none;
        font-size: 0.75rem /* 14px */;
        line-height: 1.25rem /* 20px */;
        color: white;
        align-items: center;

        .vote-average {
          color: rgb(74 222 128);
          font-weight: 600;
        }

        .release-date {
          font-family: NetflixSans-Light;
        }

        .video-quality {
          height: 1rem;
          border: 1px solid rgb(255 255 255 / 0.4);
          padding: 0 0.375rem;
          border-radius: 0.25rem;
          font-size: 0.75rem;
          line-height: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .break-1 {
      width: 100%;
      // flex-grow: 3;
      display: flex;
      flex-direction: row;
      column-gap: 1.25rem;

      .break-1-0 {
        height: 100%;
        width: 75%;
        animation: 'fadeIn' 0.2s;
      }

      .break-1-1 {
        height: 100%;
        // width: 30%;
        display: flex;
        flex-direction: column;
        row-gap: 1.25rem;
        font-size: 0.75rem;
        animation: 'fadeIn' 0.2s;

        span {
          font-size: 0.75rem;
          color: rgb(128 128 128);
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
  .content-wrapper {
    .overview-container {
      .break-1 {
        flex-direction: column;
        row-gap: 1.25rem;
        padding-bottom: 1.25rem;

        .break-1-0 {
          width: 100%;
          animation: 'fadeIn' 0.5s;
        }

        .break-1-1 {
          width: 100%;
          animation: 'fadeIn' 0.5s;
        }
      }
    }
  }
}

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
// }

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
// }

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
// }

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
// }

// /* Extra large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 1200px) {
// }
