@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';

.wrapper {
  width: auto;
  height: auto;
  position: absolute;
  top: var(--default-layout-height-header);
  right: 0;
  z-index: 999;
  border-radius: var(--m-modal-radius);
  background-color: var(--m-background-page-modal);
  @include boxShadow();

  .container {
    overflow: hidden;
    overflow-y: scroll;
    // @include scrollbar-hidden();
  }

  .behind-layout {
    position: fixed;
    top: var(--default-layout-height-header);
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
  }
}
