@import 'normalize.css';

.wrapper {
  width: var(--m-icon-large-size);
  height: var(--m-icon-large-size);
  position: relative;
  --border: 1px solid var(--m-primary-red);
  --top: 0;
  --left: 0;
  --bottom: -0.375rem;
  --right: 0;

  button {
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition-duration: var(--m-button-transition-duration);
      transition-timing-function: var(--m-button-transition-timing-function);
      border-radius: 0.375rem;
      box-shadow: 0 2rem 4rem #0a0a0c;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.underline {
  &::before {
    content: '';
    border: var(--border);
    position: absolute;
    left: var(--left);
    bottom: var(--bottom);
    right: var(--right);
    animation: 'fadeIn' 0.2s;
  }
}

.underline-hover {
  &:hover {
    &::before {
      content: '';
      border: var(--border);
      position: absolute;
      left: var(--left);
      bottom: var(--bottom);
      right: var(--right);
      animation: 'fadeIn' 0.2s;
    }
  }
}

.underline-active {
  &::before {
    content: '';
    border: var(--border);
    position: absolute;
    left: var(--left);
    bottom: var(--bottom);
    right: var(--right);
    animation: 'fadeIn' 0.2s;
  }
}
