@import 'src/styles/_mixins.scss';

.wrapper {
  --box-padding-horizontal: 1.6rem;
  --box-padding-vertical: 1.6rem;
  --row-gap-list: 1.6rem;
  position: relative;

  .drop__list__container {
    width: 25rem;
    max-width: 25rem;
    max-height: 30rem;

    ul {
      width: 100%;
      font-size: 1.2rem;
      list-style: none;
      display: flex;
      flex-direction: column;
      row-gap: var(--row-gap-list);
      padding: var(--box-padding-vertical);

      li {
        width: 100%;

        a {
          width: 100%;
          color: white;
          &:hover {
            opacity: 0.75;
          }
        }
      }

      .line-space {
        border-bottom: 1px solid var(--m-color-light-gray);
        border-radius: var(--m-button-radius);
      }
    }
  }
}
