@import 'normalize.css';

.wrapper {
  width: var(--m-avatar-mini-size);
  height: var(--m-avatar-mini-size);

  .user-icon {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-image: none;
    background: none;
    border: none;
    border-radius: 0.25rem;
    transition-duration: var(--m-button-transition-duration);
    transition-timing-function: var(--m-button-transition-timing-function);

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .user-icon:hover {
    opacity: 0.75;
  }

  .user-icon-highlight {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    margin-top: 3px;
    z-index: 101;
    border-bottom: 3px solid green;
    transform: scaleX(0);
    transform-origin: center right;
    transition: transform 0.1s ease;
  }

  .element-hidden {
    visibility: hidden;
  }

  .user-menu {
    overflow: auto;
    position: absolute;
    top: 45px;
    right: 1.35rem;
    width: 225px;
    max-height: 275px;
    background-color: var(--m-background-page);
    border-radius: 0.375rem;
    transform: scale(0.9);
    box-shadow: 0 2rem 4rem rgb(10, 10, 12);

    ul {
      width: 100%;
      height: 100%;
      list-style: none;
      white-space: nowrap;
      color: white;
      padding: 0.75rem;
      display: flex;
      flex-direction: column;
      row-gap: 0.75rem;
      transform-origin: top right;
      // transition: all 0.2s ease-in-out, visibility 0s linear 0.2s;

      li {
        color: white;

        a {
          color: white;
          font-size: 0.75rem;
          // transition-duration: var(--m-button-transition-duration);
        }

        a:hover {
          opacity: 0.7;
        }
      }

      .line-space {
        border-bottom: 1px solid #2c303a;
        border-radius: 0.5rem;
      }
    }
  }
}
