.wrapper__container {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  row-gap: 12rem;
  overflow: hidden;

  .wrapper__banner_overview {
    margin-left: var(--layout-horizontal-padding);
  }

  .list__container {
    display: flex;
    flex-direction: column;
    row-gap: 10rem;
    padding-bottom: calc(var(--layout-horizontal-padding) * 5);
  }
}
