.wrapper {
  .container {
    display: flex;
    flex-direction: column;

    .banner__wrapper {
    }

    .list__container {
      position: relative;
      top: calc(var(--row-height) * -2);
      z-index: 10;
    }
  }
}
